body .page-transition {
  display: block;
}
.w-editor .page-transition {
  display: none;
}
.no-scroll-transition {
  overflow: hidden;
  position: relative;
}

/*  new */

html.wf-design-mode .page-wrapper {
  transform: none !important;
}
html:not(.wf-design-mode) body .page-transition {
  display: block;
}
